  body{
    background-color: #AACFCF;
  }

  hr{
    border-top: 8px dotted grey;
    width: 10%;
    border-left: none;
    border-right: none;
    border-bottom: none;
  }

  h3, h2, h1{
    color: #ff6363;
  }
